@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#app {
    /* font-family: 'Mulish', 'sans-serif'; */
    font-family: 'Inter', 'sans-serif';
    /* font-family: 'Source Code Pro', monospace; */
    /* font-family: 'Poppins', sans-serif; */
    line-height: 24px;
}

/* Toggle B */
input:checked ~ .dot {
    transform: translateX(100%);
}

input:checked ~ .toggleEl {
    background-color: rgb(252, 209, 90)
}



:root {
    --iexec-black: rgb(13 13 18);
    --iexec-yellow: #fcd15a;
    --iexec-white: #f2f1f4;
    --main: #10c8e8;
    --text-color:#f3f4f2
}

html {
    color: #f3f4f2;
    background-color: var(--iexec-white);
    font-family: Mulish, sans-serif;
    font-size: .8rem;
    height:100%
}

#root, body {
    background-color: var(--iexec-black);
    height: 100%;
    min-height:100%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0
}

a {
    color: #f3f4f2;
    cursor: pointer;
    text-decoration:none
}

.skeleton {
    display: flex;
    flex:1 1
}

.main-grid {
    grid-gap: 0;
    display: grid;
    grid-template-areas: "top" "body" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    padding:0
}

.top-container {
    max-width: 1400px;
    /* position: fixed;
    top: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 10px 0;
    padding: 0 60px;
    vertical-align:middle;
}

@media only screen and (max-width: 1120px) {
    .top-container {
        padding: 0 1.5rem;
    }
}

.page-container, .top-container, .footer-container {
    width:100%
}


.page-container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: auto;
    padding: 0 30px;
    min-height: calc(100vh - 105px);
}

.landing-page-container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 35px)
}

.page-subcontainer {
    margin-top: 70px;
}

.footer-container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    height: 25px;
    max-height: 25px;
    line-height: 25px;
    padding: 0 30px;
    vertical-align: top;
}

.logo {
    fill: #f3f4f2;
    margin: 0 20px 0 0;
    width:12em
}

.logo-text {
    font-size: 1.25rem;
    line-height: 0.3rem;
}

.top-navigation ul li {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top:-1px
}

.top-navigation a {
    color: var(--iexec-black)
}

.top-navigation a.active {
    color:#f3f4f2
}

.gradient {
    background-color: #38e19e;
    background-image: linear-gradient(to bottom right, #38e19e, #05c5ef);
}

.code {
    color: var(--text-color);
}

.progress {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
    border: 1px;
    z-index: 10;
    position: relative;
    color: #a2b5d2;
    background-color: #d4dcea;

}
.progress::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 125px;
    left: -125px;
    top: 44%;
    z-index: 2;
    background-color: #d4dcea;
}
.inprogr {
    background-color: var(--iexec-yellow);
    color: var(--iexec-black);
}
.inprogr + p {
    color: var(--iexec-yellow);
}
.inprogr::after {
    background-color: var(--iexec-yellow);
}



.one::after {
    width: 0;
    height: 0;
}

.customSliderContainer {
    border-radius: 10px;
    box-shadow: 0 0 10px 1px hsla(0, 0%, 100%, .5);
    padding:0 3px
}

.customSlider {
    align-items: center;
    background: #0d0d12;
    background: var(--iexec-black);
    border-radius: 10px;
    display: flex;
    height: 50px;
    width:140px
}

.customSlider span:first-of-type {
    left:5px !important
}

.customSlider-track {
    background: #0d0d12;
    background: var(--iexec-black);
    border-radius: 10px;
    cursor: pointer;
    height:50px
}

.customSlider-thumb {
    background: #fcd15a;
    background: var(--iexec-yellow);
    border-radius: 10px;
    color: #0d0d12;
    color: var(--iexec-black);
    font-weight: 700;
    height: 44px;
    outline: none;
    width:45px
}

.page {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    position:relative
}

.e, .f {
    grid-column: span 2;
    grid-row:span 2
}

.h {
    align-items: center;
    font-weight:400
}

.h > .value-title {
    opacity: .3;
    transition:opacity .4s ease-in
}

.h:hover .plus-logo, .h:hover .value-title {
    opacity: .65;
    transition:opacity .4s ease-in
}

.value-title {
    display: inline-block;
    font-size: 2.2em;
    opacity:.65
}

.rlc-earned {
    margin-left: 10px;
    width:.8em
}

.table {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin:20px 0 0
}

.table .head .column {
    opacity:.65
}

.table .row {
    border-bottom: 1px solid #5d5d69;
    display: flex;
    margin: 15px 0 0;
    min-width: 0;
    padding:0 0 15px
}

.table .last {
    border-bottom: none;
    padding:0
}

.table .head {
    padding:0 0 20px
}

.table .column {
    align-items: flex-end;
    display: flex;
    overflow: hidden;
    white-space:nowrap
}

.table .column p {
    overflow: hidden;
    text-overflow:ellipsis
}

.big {
    font-size: 1.5em;
    font-weight:600
}

.table .one {
    flex:0.8 1
}

.table .two {
    flex:3 1
}

.table .three {
    display: flex;
    flex: 1 1;
    justify-content:flex-end
}

.table.compact .one {
    flex:1 1
}

.table.compact .two {
    flex: 1 1;
    justify-content:center
}

.table.compact .three {
    flex:1 1
}

.table .empty {
    justify-content:center
}

.users-logo {
    font-size:30px
}

.rlc-logo {
    padding: 3px;
    width:35px
}

.plus-logo {
    font-size: 3.5em;
    margin: 40px;
    opacity: .3;
    transition:opacity .4s ease-in
}

.plus-logo-div {
    align-items: center;
    display: flex;
    flex:1 1
}

.footer {
    align-items: center;
    background-color: #0d0d12;
    background-color: var(--iexec-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    padding:20px 0 0
}

.footer-bottom {
    background: linear-gradient(90deg, #1d1d24 1.56%, #3f0d3f 11.98%, #ce2c68 22.4%, #fcd15a 43.75%, #fcd15a 56.77%, #ce2c68 79.17%, #3f0d3f 90.1%, #1d1d24);
    height: 8px;
    width:100%
}

.footer-left {
    display: flex;
    flex: 1 1;
    justify-content:flex-start
}

.iexec-logo-footer {
    width:12em
}

.footer-middle {
    display: flex;
    flex: 1 1;
    justify-content:space-between
}

.footer-right {
    display: flex;
    flex: 1 1;
    font-size: 1.2em;
    justify-content:flex-end
}

.social-logos {
    align-items: center;
    display: flex;
    justify-content:space-between
}

.social-logos > * {
    font-size: 2em;
    margin:0 10px
}

.mailchimp-form .asterisk {
    color:#d63838
}

.mailchimp-form .helper_text {
    border-radius: 3px;
    color: #8d8985;
    font-size: 14px;
    margin-top: 2px;
    padding: 3px;
    z-index:1
}

.mailchimp-block .status-block {
    margin-top:15px
}

.btn {
    background-color: var(--main);
    border-radius: 8px;
    clear: both;
    color: rgb(13 13 18);
    cursor: pointer;    
    padding: 0 16px;
    text-align: center;
    transition: all .25s ease-in-out 0s;
    vertical-align: top;
    white-space: nowrap;
}

.btn:hover {
    opacity:.8;
    /* background-color: #e9cd67;  */
}

@media (max-width: 1400px) {
    .value-title {
        font-size:1.6em
    }
}

/* @media ((min-width:1281px) and (max-width: 1320px)) {
    .page-container {
        padding: 0 100px;
        min-height: calc(100vh - 105px);
    }
} */
@media ((min-width:1121px) and (max-width: 1280px)) {
    .page-container {
        padding: 0 60px;
        min-height: calc(100vh - 105px);
    }
}
@media (max-width: 1120px) {
    .page-container {
        padding: 0 60px;
        min-height: calc(100vh - 105px);
    }
}

@media (max-width: 1100px) {
    .value-title {
        font-size:2.3em
    }

    .page, .top {
        padding:0 35px
    }
}

@media (max-width: 750px) {
    .top-container {
        flex-direction:column
    }

    .logo {
        fill: #f3f4f2;
        margin: 0 0 5px;
        width:10em
    }

    .top {
        margin:0
    }

    .page, .top {
        padding:0 10px
    }

    .e, .f {
        grid-column: span 1;
        grid-row:span 1
    }

    .table {
        font-size:small
    }

    .table .one {
        flex:1 1
    }

    .table .two {
        flex:2 1
    }

    .table .three {
        flex:1 1
    }

    .footer {
        font-size: 1em;
        margin-top: 5px;
        padding:0
    }

    .footer-container {
        display: grid;
        grid-template-columns: [footer-start] 1fr [footer-middle] 1fr [footer-end];
        grid-template-rows: [footer-start] 1fr [footer-middle] 1fr [footer-end];
        margin: 0;
        padding:0 10px
    }

    .footer-left {
        grid-column-end: footer-middle;
        grid-column-start:footer-start
    }

    .footer-left, .footer-right {
        grid-row-end: footer-end;
        grid-row-start:footer-middle
    }

    .footer-right {
        grid-column-end: footer-end;
        grid-column-start: footer-middle;
        text-align:end
    }

    .footer-middle {
        grid-column-end: footer-end;
        grid-column-start: footer-start;
        grid-row-end: footer-middle;
        grid-row-start:footer-start
    }

    .social-logos {
        flex: 1 1;
        margin:20px 0 10px
    }

    .social-logos > * {
        font-size: 2em;
        margin:0
    }
}

@-webkit-keyframes react-loading-skeleton {
    to {
        -webkit-transform: translateX(100%);
        transform:translateX(100%)
    }
}

@keyframes react-loading-skeleton {
    to {
        -webkit-transform: translateX(100%);
        transform:translateX(100%)
    }
}

.react-loading-skeleton {
    --base-color: #ebebeb;
    --highlight-color: #f5f5f5;
    --animation-duration: 1.5s;
    --animation-direction: normal;
    --pseudo-element-display: block;
    background-color: var(--base-color);
    border-radius: .25rem;
    display: inline-flex;
    line-height: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index:1
}

.react-loading-skeleton:after {
    -webkit-animation-direction: var(--animation-direction);
    animation-direction: var(--animation-direction);
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: react-loading-skeleton;
    animation-name: react-loading-skeleton;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(90deg, var(--base-color), var(--highlight-color), var(--base-color));
    background-repeat: no-repeat;
    content: " ";
    display: var(--pseudo-element-display);
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform:translateX(-100%)
}

._qWTcH {
    --fcc-flip-duration: 0.7s;
    --fcc-digit-block-width: 46px;
    --fcc-digit-block-height: 80px;
    --fcc-digit-font-size: 50px;
    --fcc-label-font-size: 16px;
    --fcc-label-color: #f3f4f2;
    --fcc-background: #0f181a;
    --fcc-digit-color: #f3f4f2;
    --fcc-divider-color: #ffffff66;
    --fcc-divider-height: 1px;
    --fcc-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
    --fcc-separator-size: 5px;
    --fcc-separator-color: var(--fcc-digit-color);
    align-items: center;
    color: var(--fcc-digit-color);
    cursor: default;
    display: flex;
    font-family: inherit;
    font-size: var(--fcc-digit-font-size);
    font-weight: 500;
    line-height: 0;
    -webkit-user-select: none;
    user-select:none
}

._1tbqx ._3cpN7 {
    margin-bottom:calc(var(--fcc-label-font-size) * 2)
}

._3cpN7 ._2EBbg:not(:last-child) {
    margin-right:4px
}

._3cpN7 {
    align-items: center;
    display: flex;
    position:relative
}

._2aOn7 {
    bottom: 0;
    color: var(--fcc-label-color);
    font-size: var(--fcc-label-font-size);
    font-weight: 400;
    left: 50%;
    line-height: 1;
    position: absolute;
    -webkit-transform: translate(-50%, 150%);
    transform:translate(-50%, 150%)
}

._SKh-V {
    align-items: flex-end;
    border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top:0
}

/*# sourceMappingURL=main.c1a279c8.css.map*/

.logo-navbar {
    height: 1.875rem;
    width: 1.5625rem;
    margin: 0.5rem 0.9375rem 0px 0px;
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.app-title-navbar {
    flex: 0 0 auto;
    font-family: "Space Mono";
    height: 1.5rem;
    margin: 0.9375rem 0.9375rem 0px 0px;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1rem;
    text-align: left;
}


.logo-container {
    height: 1.5rem;
    margin: 0.9375rem 30px 0px 0px;
    font-stretch: normal;
}


table {
    background-color: #1e1e22!important;;
    color: #f1f2f0 !important;
    font-family: Mulish,sans-serif!important;;
}


.creative-container
{
    line-height: 0.5rem !important;
    height: 10px;
    border:1px solid red;
}


.tg-logo
{
    width: 1.5rem !important;
    display: inline !important;
    vertical-align: top !important;
}

.app-logo
{
    width: 2.2rem !important;
    height: 2.2rem !important;
    display: inline !important;
    vertical-align: middle !important;
    margin-right: 12px;
}

.app-logo-sidebar {
    width: 4.4rem !important;
    height: 4.4rem !important;
    display: inline !important;
    vertical-align: middle !important;
}


.table-title
{
    /* font-family: 'Barlow Condensed'; */
    font-size: 2.0rem;
}

.inlineText
{
    display: inline !important;
}


.container th h1 {
    font-weight: bold;
    font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    /*width: 80%;*/
    margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #23272e;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #292e35;
}

.container th {
    background-color: #18181f;
}

.container td:first-child { color: var(--iexec-yellow); }
.container td:last-child { color: var(--iexec-yellow); }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}


.optimisticContainer
{
    margin-bottom:1rem;
}

.invisible-element
{
    display: none;
}


.btn-inverted
{
    background-color: #f1f2f0;
    border: solid 1px  var(--iexec-yellow) !important;
     
}

.clickable
{
    cursor: pointer;
}


.credits-container {
    position: fixed;
    right: 0px; bottom: 0px;
    width: 300px;    
    padding: 5px;
    font-weight: bold;
}

.credits-darkbg {
    color: #f3f4f2 !important;
}

.credits-lightbg{
    color: #0d0d12 !important;
}


.hidden-navbar-item
{
    color: var(--iexec-black) !important;
}


.modal-title {
    color: #0d0d12 !important;
}

.modal-text
{
    color: #0d0d12 !important;
}

.pgbr {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

#sidebar .active {
    border-left-width: 3px;
    border-left-color: var(--main);
}
#sidebar .active a {
    color: var(--main);
    font-weight: 600;
}
#uploading, #indexing {
    margin: 32px 0 0 262px;
}